<script>
    import { supabase }  from '$lib/supabaseClient'
    import { readable, get } from 'svelte/store'

    export let id
    export let title
    export let content

    async function addComment({target}){
        const formData = new FormData(target)
        const {data,error}= await supabase
            .from('comments')
            .insert({
                content: formData.get('comment'),
                sender: formData.get('sender'),
                post: id
            })
            document.getElementById("comment").value = '';
        }

    const comments = readable(null, (set) =>{
        supabase
            .from('comments')
            .select('*')
            .filter('post','eq', id)
            .then(({error, data}) => set(data))    
        // add subscription to supabase logic
        const subs = 
        supabase
            .channel('comments:post=eq.' + id)
            .on('postgres_changes',{ event: '*', schema: '*' }, (payload) => {
                if (payload.eventType === 'INSERT') {
                set([...get(comments), payload.new])
            }
            })           
            .subscribe()
        return () => supabase.removeChannel(subs)     
    })
</script>

<div>
<div class="flex h-screen antialiased text-gray-800">
    <div class=" flex-row h-full w-full overflow-x-hidden">
      <div class="flex flex-col flex-auto h-full p-6">
        <div class="flex flex-col flex-auto flex-shrink-0 rounded-2xl bg-gray-100 h-full w-full p-4">
            <div class="flex mb-2">
                <div class="flex-none w-40 h-14 ...">
                    <a href="/">
                        <button class="flex flex-row h-10 ml-4 mt-2 rounded-lg">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                                <path fill-rule="evenodd" d="M7.5 3.75A1.5 1.5 0 006 5.25v13.5a1.5 1.5 0 001.5 1.5h6a1.5 1.5 0 001.5-1.5V15a.75.75 0 011.5 0v3.75a3 3 0 01-3 3h-6a3 3 0 01-3-3V5.25a3 3 0 013-3h6a3 3 0 013 3V9A.75.75 0 0115 9V5.25a1.5 1.5 0 00-1.5-1.5h-6zm5.03 4.72a.75.75 0 010 1.06l-1.72 1.72h10.94a.75.75 0 010 1.5H10.81l1.72 1.72a.75.75 0 11-1.06 1.06l-3-3a.75.75 0 010-1.06l3-3a.75.75 0 011.06 0z" clip-rule="evenodd" />
                              </svg>                                     
                        </button>  
                    </a>
                </div>
                <div class="grow h-14 ...">
                    <div class="flex flex-row items-center justify-center h-12 w-full">
                        <div
                          class="flex items-center justify-center rounded-2xl text-secondary bg-accent h-10 w-10">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                          <path fill-rule="evenodd" d="M10 2c-2.236 0-4.43.18-6.57.524C1.993 2.755 1 4.014 1 5.426v5.148c0 1.413.993 2.67 2.43 2.902.848.137 1.705.248 2.57.331v3.443a.75.75 0 001.28.53l3.58-3.579a.78.78 0 01.527-.224 41.202 41.202 0 005.183-.5c1.437-.232 2.43-1.49 2.43-2.903V5.426c0-1.413-.993-2.67-2.43-2.902A41.289 41.289 0 0010 2zm0 7a1 1 0 100-2 1 1 0 000 2zM8 8a1 1 0 11-2 0 1 1 0 012 0zm5 1a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd" />
                        </svg>
                        </div>
                        <div class="ml-2 font-bold text-2xl">TalkTime</div>
                      </div>
                </div>
                <div class="flex-col-reverse w-40 h-14 ...">
                    <div class="text-lg mt-2 p-2">
                        <h1 class="text-sm text-secondary font-bold">{title}</h1>
                    </div>
                </div>
              </div>
          <div class="flex flex-col h-full overflow-x-auto mb-4">
            <div class="flex flex-col h-full">
              <div class="grid grid-cols-12 gap-y-2">
                {#if $comments}
                {#each $comments as {sender, content, created_at}}
                  <div class="col-start-1 col-end-8 p-3 rounded-lg">
                    <div class="flex flex-row items-center">
                      <div class="chat chat-start">
                        <div class="chat-image avatar">
                          <div class="w-10 rounded-full">
                            <div
                          class="flex items-center justify-center rounded-2xl text-secondary bg-accent h-10 w-10">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                          <path fill-rule="evenodd" d="M10 2c-2.236 0-4.43.18-6.57.524C1.993 2.755 1 4.014 1 5.426v5.148c0 1.413.993 2.67 2.43 2.902.848.137 1.705.248 2.57.331v3.443a.75.75 0 001.28.53l3.58-3.579a.78.78 0 01.527-.224 41.202 41.202 0 005.183-.5c1.437-.232 2.43-1.49 2.43-2.903V5.426c0-1.413-.993-2.67-2.43-2.902A41.289 41.289 0 0010 2zm0 7a1 1 0 100-2 1 1 0 000 2zM8 8a1 1 0 11-2 0 1 1 0 012 0zm5 1a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd" />
                        </svg>
                        </div>                                                                                        
                          </div>
                        </div>
                        <div class="chat-header">
                          <span class="mx-1 font-bold text-secondary">{sender}</span>
                          <time class="text-xs opacity-50">{created_at[8]}{created_at[9]}-{created_at[5]}{created_at[6]}-{created_at[2]}{created_at[3]}&nbsp;&nbsp;{created_at[11]}{created_at[12]}:{created_at[14]}{created_at[15]}</time>
                        </div>
                        <div class="chat-bubble chat-bubble-primary text-white mr-4">{content}
                        </div>
                      </div>
                    </div>
                  </div>
                {/each}
                {/if}
               </div>
              </div>
            </div>
            <form on:submit|preventDefault={addComment}>
            <div
              class="flex flex-row items-center h-16 rounded-xl bg-white w-full px-4">
              <div>
                <input
                    required
                    name="sender"
                    type="varchar"
                    class="border rounded-xl focus:outline-none focus:border-indigo-300 pl-4 h-10"
                    placeholder="Your Name"
                  />
              </div>
              <div class="flex-grow ml-4">
                <div class="relative w-full">
                  <input
                    required
                    id="comment"
                    name="comment"
                    type="text"
                    class="flex w-full border rounded-xl focus:outline-none focus:border-indigo-300 pl-4 h-10"
                    placeholder="Message"
                  />
                </div>
              </div>
              <div class="ml-4">
                <button
                  class="font-bold flex items-center justify-center bg-primary hover:bg-primary-focus rounded-xl text-white px-4 py-1 flex-shrink-0">
                  <span>Send
                  </span>
                  <span class="ml-2">
                    <svg
                      class="w-4 h-4 transform rotate-45 -mt-px"
                      fill="none"
                      stroke="currentColor"
                      viewBox="0 0 24 24"
                      xmlns="http://www.w3.org/2000/svg">
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8">
                      </path>
                    </svg>
                  </span>
                </button>
              </div>
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>
    <!-- <div class="chat-area flex-1 flex flex-col">
        <div class="flex-3">
            <h2 class="text-xl py-1 mb-8 border-b-2 border-gray-200"><b>{title}</b></h2>
        </div>
        <div class="messages flex-1 overflow-auto">
            <div class="message mb-4">
                {#if $comments}
                    {#each $comments as {sender, content, created_at} }
                        <div class="flex-1 px-2">
                            <div class="inline-block bg-gray-300 rounded-full p-2 px-6 text-gray-700">
                                <span>{sender} : {content}</span>
                            </div>
                            <div class="pl-4"><small class="text-gray-500">{created_at[11]}{created_at[12]}:{created_at[14]}{created_at[15]}</small></div>
                        </div>
                    {:else}
                        No chats yet!
                    {/each}
                {:else}
                    Loading..  
                {/if}
            </div>
        </div> -->

    <!-- <form on:submit|preventDefault={addComment}>
        <input placeholder="comment" name="comment"> <br>
        <input placeholder="who?" name="sender"><br>
        <button> Send Chat </button>
    </form>  -->
    <!-- </div> -->
    <!-- <form on:submit|preventDefault={addComment}>
    <div class="flex-2 pt-4 pb-10">
        <div class="write bg-white shadow flex rounded-lg">
            <div class="flex-3 flex content-center items-center text-center p-4 pr-0">
                <span class="block text-center text-gray-400 hover:text-gray-800">
                    <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor" viewBox="0 0 24 24" class="h-6 w-6"><path d="M14.828 14.828a4 4 0 01-5.656 0M9 10h.01M15 10h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
                </span>
            </div>
            <div class="flex-1">
                
                <div class="grid grid-rows-3 grid-flow-col gap-4">
                    <div class="row-start-1 row-span-3 ..."><input name="sender" class="w-70 block outline-none py-4 px-4 bg-transparent" row=1 placeholder="Insert Sender" autofocus></div>
                    <div class="row-start-1 row-span-3 ..."><input name="comment" class="w-70 block outline-none py-4 px-4 bg-transparent" row=2 placeholder="Type a message..." autofocus></div>
                  </div>
                
                
            
            </div>
            <div class="flex-2 w-32 p-2 flex content-center items-center">
                <div class="flex-1 text-center">
                    <span class="text-gray-400 hover:text-gray-800">
                        <span class="inline-block align-text-bottom">
                            <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor" viewBox="0 0 24 24" class="w-6 h-6"><path d="M15.172 7l-6.586 6.586a2 2 0 102.828 2.828l6.414-6.586a4 4 0 00-5.656-5.656l-6.415 6.585a6 6 0 108.486 8.486L20.5 13"></path></svg>
                        </span>
                    </span>
                </div>
                <div class="flex-1">
                    <button class="bg-blue-400 w-10 h-10 rounded-full inline-block">
                        <span class="inline-block align-text-bottom">
                            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" class="w-4 h-4 text-white"><path d="M5 13l4 4L19 7"></path></svg>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    </form> -->





