<script>
	import Index from "./index.svelte";
</script>
<!-- <div class="object-none object-center">
	<img src='https://assets.website-files.com/626f5d0ae6c15cea8c2dd5dd/633c56cb12e08c9579976e81_Tb_drawkit_Illustration_Mental_Health___Psychology-min.png'/>
  </div> -->
<Index/>