<script>

    import { supabase }  from '$lib/supabaseClient'
    import { readable, get } from 'svelte/store'
 
    /**
	 * @param {{ target: HTMLFormElement | undefined; }} e
	 */
    async function addPost (e){
        const formData = new FormData(e.target)
        const {data,error} = await supabase
            .from('posts')
            .insert({
                title: formData.get('title'),
            })
            e.target.reset();      
    }

    /**
	 * @param {any} [id]
	 */
    const posts = readable(null, (set) =>{
        
        supabase
            .from('posts')
            .select('*')
            .order('title', { ascending: true})
            .then(({error, data}) => set(data)
            )
        // add subscription to supabase logic
        const subscription = 
        supabase
            .channel('posts')
            .on('postgres_changes',{ event: 'INSERT', schema: '*' }, payload => {
                set([...get(posts), payload.new])
            })
            .subscribe()
            return () => supabase.removeChannel(subscription)
    })
   
</script>

<input type="checkbox" id="my-modal-3" class="modal-toggle" />
<div class="modal">
    <div class="modal-box relative">
<label for="my-modal-3" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
    <h3 class="text-lg font-bold">Add a new channel!</h3>
    <form id='myForm' on:submit|preventDefault={addPost}>
        <!-- <input placeholder="title" name="title"> <br>
        <button> eheheh, make new conv +  </button> -->
        <input type="text" name="title" placeholder="Type here" class="input input-bordered input-accent w-full max-w-xs"
        />
        <button class="btn btn-active btn-accent">Add</button>
    </form>
    </div>
</div>

<div class="flex h-full mt-24">
    <div class="flex-none w-80 bg-primary-focus">
    </div>
    <div class="grow flex flex-col flex-auto flex-shrink-0 rounded-none bg-gray-100 h-full p-4">
      <div class="flex flex-row items-center justify-center h-12 mt-16 w-full">
          <div
            class="flex items-center justify-center rounded-2xl text-secondary bg-accent h-10 w-10">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
            <path fill-rule="evenodd" d="M10 2c-2.236 0-4.43.18-6.57.524C1.993 2.755 1 4.014 1 5.426v5.148c0 1.413.993 2.67 2.43 2.902.848.137 1.705.248 2.57.331v3.443a.75.75 0 001.28.53l3.58-3.579a.78.78 0 01.527-.224 41.202 41.202 0 005.183-.5c1.437-.232 2.43-1.49 2.43-2.903V5.426c0-1.413-.993-2.67-2.43-2.902A41.289 41.289 0 0010 2zm0 7a1 1 0 100-2 1 1 0 000 2zM8 8a1 1 0 11-2 0 1 1 0 012 0zm5 1a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd" />
          </svg>
          </div>
          <div class="ml-2 font-bold text-4xl">TalkTime</div>
        </div>
        <div class="flex flex-col flex-grow h-80 mt-8">
            <div class="flex flex-row items-center justify-center text-xs">
              <span class="font-bold text-lg text-gray-400">Channel</span>
            </div>
            <div class="flex flex-col flex-grow items-center space-y-1 mt-4 -mx-2 mb-6 overflow-y-auto">
              {#if $posts}
                    {#each $posts as post}
              <button class="flex flex-row items-center hover:bg-accent rounded-xl p-2">
                <div class="text-accent flex items-center justify-center h-8 w-8 bg-primary rounded-full" >
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                      <path d="M15.98 1.804a1 1 0 00-1.96 0l-.24 1.192a1 1 0 01-.784.785l-1.192.238a1 1 0 000 1.962l1.192.238a1 1 0 01.785.785l.238 1.192a1 1 0 001.962 0l.238-1.192a1 1 0 01.785-.785l1.192-.238a1 1 0 000-1.962l-1.192-.238a1 1 0 01-.785-.785l-.238-1.192zM6.949 5.684a1 1 0 00-1.898 0l-.683 2.051a1 1 0 01-.633.633l-2.051.683a1 1 0 000 1.898l2.051.684a1 1 0 01.633.632l.683 2.051a1 1 0 001.898 0l.683-2.051a1 1 0 01.633-.633l2.051-.683a1 1 0 000-1.898l-2.051-.683a1 1 0 01-.633-.633L6.95 5.684zM13.949 13.684a1 1 0 00-1.898 0l-.184.551a1 1 0 01-.632.633l-.551.183a1 1 0 000 1.898l.551.183a1 1 0 01.633.633l.183.551a1 1 0 001.898 0l.184-.551a1 1 0 01.632-.633l.551-.183a1 1 0 000-1.898l-.551-.184a1 1 0 01-.633-.632l-.183-.551z" />
                  </svg>                  
                </div>
                <!-- <div class="ml-2 text-sm font-semibold">{channel.channel_name}</div> -->
                <div class="ml-2 text-sm font-semibold">
                  <a href="/chat/{post.id}">
                      {post.title}
                  </a>
                </div>
              </button>
              {/each}
              {/if}
            </div>
          </div>
          <div class="animate-bounce flex flex-col-reverse h-10 items-center">
            <label for="my-modal-3" class="inline-flex items-center text-sm font-medium text-white bg-secondary hover:bg-secondary-focus rounded-full text-center px-3 py-2 shadow-lg focus:outline-none focus-visible:ring-2">
              <svg xmlns="http://www.w3.org/2000/svg" class="mr-2 h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" /></svg>
              Add New Channel
            </label>
          </div>
    </div>
    <div class="flex-none w-80 bg-secondary-focus">
    </div>
  </div>


<!-- <div class="flex h-screen antialiased text-gray-800">
    <div class="flex flex-row h-full w-full overflow-x-hidden">
      <div class="flex flex-col py-8 pl-6 pr-2 w-64 h-full bg-white flex-shrink-0">
        <div class="flex flex-row items-center justify-center h-12 w-full">
          <div
            class="flex items-center justify-center rounded-2xl text-secondary bg-accent h-10 w-10">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
            <path fill-rule="evenodd" d="M10 2c-2.236 0-4.43.18-6.57.524C1.993 2.755 1 4.014 1 5.426v5.148c0 1.413.993 2.67 2.43 2.902.848.137 1.705.248 2.57.331v3.443a.75.75 0 001.28.53l3.58-3.579a.78.78 0 01.527-.224 41.202 41.202 0 005.183-.5c1.437-.232 2.43-1.49 2.43-2.903V5.426c0-1.413-.993-2.67-2.43-2.902A41.289 41.289 0 0010 2zm0 7a1 1 0 100-2 1 1 0 000 2zM8 8a1 1 0 11-2 0 1 1 0 012 0zm5 1a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd" />
          </svg>
          </div>
          <div class="ml-2 font-bold text-2xl">TalkTime</div>
        </div>
        <div class="flex flex-col flex-grow h-80 mt-8">
          <div class="flex flex-row items-center justify-between text-xs">
            <span class="font-bold">Channel</span>
          </div>
          <div class="flex flex-col flex-grow space-y-1 mt-4 -mx-2 h-full overflow-y-auto">
            {#if $posts}
			      {#each $posts as post}
            <button class="flex flex-row items-center hover:bg-gray-100 rounded-xl p-2">
              <div class="text-accent flex items-center justify-center h-8 w-8 bg-primary rounded-full" >
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                    <path d="M15.98 1.804a1 1 0 00-1.96 0l-.24 1.192a1 1 0 01-.784.785l-1.192.238a1 1 0 000 1.962l1.192.238a1 1 0 01.785.785l.238 1.192a1 1 0 001.962 0l.238-1.192a1 1 0 01.785-.785l1.192-.238a1 1 0 000-1.962l-1.192-.238a1 1 0 01-.785-.785l-.238-1.192zM6.949 5.684a1 1 0 00-1.898 0l-.683 2.051a1 1 0 01-.633.633l-2.051.683a1 1 0 000 1.898l2.051.684a1 1 0 01.633.632l.683 2.051a1 1 0 001.898 0l.683-2.051a1 1 0 01.633-.633l2.051-.683a1 1 0 000-1.898l-2.051-.683a1 1 0 01-.633-.633L6.95 5.684zM13.949 13.684a1 1 0 00-1.898 0l-.184.551a1 1 0 01-.632.633l-.551.183a1 1 0 000 1.898l.551.183a1 1 0 01.633.633l.183.551a1 1 0 001.898 0l.184-.551a1 1 0 01.632-.633l.551-.183a1 1 0 000-1.898l-.551-.184a1 1 0 01-.633-.632l-.183-.551z" />
                </svg>                  
              </div> -->
              <!-- <div class="ml-2 text-sm font-semibold">{channel.channel_name}</div> -->
              <!-- <div class="ml-2 text-sm font-semibold">
                <a href="/chat/{post.id}">
                    {post.title}
                </a>
              </div>
            </button>
            {/each}
            {/if}
          </div>
        </div>
        <div class="flex flex-col-reverse h-10 items-center">
          <label for="my-modal-4" class="inline-flex items-center text-sm font-medium text-white bg-secondary hover:bg-secondary-focus rounded-full text-center px-3 py-2 shadow-lg focus:outline-none focus-visible:ring-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="mr-2 h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" /></svg>
            Add New Channel
          </label>
        </div>
      </div>
    </div>
  </div>
      <div class="flex flex-col flex-auto h-full p-6">
      </div> -->
        <!-- <div
          class="flex flex-col flex-auto flex-shrink-0 rounded-2xl bg-gray-100 h-full p-4"
        > -->
          <!-- <div class="flex flex-col h-full overflow-x-auto mb-4">
            <div class="flex flex-col h-full">
              <div class="grid grid-cols-12 gap-y-2">
                {#if chats}
                {#each chats as chat}
                <div class="col-start-1 col-end-8 p-3 rounded-lg">
                  <div class="flex flex-row items-center">
                    <div class="chat chat-start">
                      <div class="chat-image avatar">
                        <div class="w-10 rounded-full">
                          <img src="https://placeimg.com/192/192/people" />
                        </div>
                      </div>
                      <div class="chat-header">
                        <span class="mr-1">{chat.name}</span>
                        <time class="text-xs opacity-50">{chat.created_at[8]}{chat.created_at[9]}-{chat.created_at[5]}{chat.created_at[6]}-{chat.created_at[2]}{chat.created_at[3]}&nbsp;&nbsp;{chat.created_at[11]}{chat.created_at[12]}:{chat.created_at[14]}{chat.created_at[15]}</time>
                      </div>
                      <div class="chat-bubble chat-bubble-secondary">{chat.message}</div>
                    </div>
                  </div>
                </div>
                {/each}
                {/if}
              </div>
            </div>
          </div>
          <div
            class="flex flex-row items-center h-16 rounded-xl bg-white w-full px-4"
          >
            <div>
              <input
                  type="varchar"
                  class="border rounded-xl focus:outline-none focus:border-indigo-300 pl-4 h-10"
                  placeholder="Your Name"
                />
            </div>
            <div class="flex-grow ml-4">
              <div class="relative w-full">
                <input
                  type="text"
                  class="flex w-full border rounded-xl focus:outline-none focus:border-indigo-300 pl-4 h-10"
                  placeholder="Message"
                />
              </div>
            </div>
            
            <div class="ml-4">
              <button
                class="font-bold flex items-center justify-center bg-primary hover:bg-primary-focus rounded-xl text-white px-4 py-1 flex-shrink-0"
              >
                <span>Send</span>
                <span class="ml-2">
                  <svg
                    class="w-4 h-4 transform rotate-45 -mt-px"
                    fill="none"
                    stroke="currentColor"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8"
                    ></path>
                  </svg>
                </span>
              </button>
            </div>
          </div> 
        </div> -->
