<script>
	import { onMount } from 'svelte';
	import { supabase } from '$lib/supabaseClient';
	import { page } from '$app/stores';
	// export let data;

	/**
	 * @type {{ title: any; posted_by: any; detail: any; }}
	 */
	let forum;

	/**
	 * @param {string} id
	 */
	async function getForum(id) {
		let { data, error: err } = await supabase.from('forum').select('*').eq('id', id).single();
		forum = data;
	}

	onMount(function () {
		let id = $page.params.id;
		getForum(id);
	});
</script>

{#if forum}
	<h1 class="text-lg">{forum.title}</h1>
	<small>From: {forum.posted_by}</small>
	<p class="p-3">{forum.detail}</p>
{/if}
