<script>
	// import '../app.css';
	import { page } from '$app/stores';
	import { onMount } from 'svelte';
	import { supabase } from '$lib/supabaseClient';
	$: activeUrl = $page.url.pathname;


    /**
 * @type {{ channel_name: any;}}
 */
let channel;
/**
 * @param {string} id
 */
 async function getChannel(id) {
	let { data, error: err } = await supabase.from('channel').select('*').eq('id', id).single();
	channel = data;
	// console.log(data)
}

onMount(function () {
		let id = $page.params.id;
		getChannel(id);
	});
	/**
	 * @type {any[] | null}
	 */
	let channels;

	/**
	 * @type {string}
	 */
	  let channel_name;
    /**
	 * @type {any[] | null}
	 */
    let chats;
    /**
	 * @type {any}
	 */
    let name;
    /**
	 * @type {string}
	 */
    let message;
    let created_at;

	async function getChannels() {
		let { data, error: err } = await supabase
			.from('channel')
			.select('*')
			.order('channel_name', { ascending: false });
		channels = data;
	}

	async function postNewChannel() {
		let { data, error } = await supabase.from('channel').insert({
			channel_name: channel_name
		});
		getChannels();
        channel_name=''
	}

	onMount(function () {
		getChannels();
	});

    async function getChats() {
		let { data, error: err } = await supabase
			.from('chat')
			.select('*')
			.order('created_at', { ascending: true });
		chats = data;
	}

	async function postNewChat() {
		let { data, error } = await supabase.from('chat').insert({
			name: name,
            message: message
		});
		getChats();
        message=''
	}

	onMount(function () {
		getChats();
	});
</script>

{#if channel}
<div class="flex h-screen antialiased text-gray-800">
  <div class="flex flex-row h-full w-full overflow-x-hidden">
    <div class="flex flex-col flex-auto h-full p-6">
      <div class="flex flex-col flex-auto flex-shrink-0 rounded-2xl bg-gray-100 h-full w-full p-4">
        <div class="flex flex-col h-full overflow-x-auto mb-4">
          <div class="flex flex-col h-full">
            <div class="grid grid-cols-12 gap-y-2">
              {#if chats}
              {#each chats as chat}
                <div class="col-start-1 col-end-8 p-3 rounded-lg">
                  <div class="flex flex-row items-center">
                    <div class="chat chat-start">
                      <div class="chat-image avatar">
                        <div class="w-10 rounded-full">
                          <img src="https://placeimg.com/192/192/people" />
                        </div>
                      </div>
                      <div class="chat-header">
                        <span class="mr-1">{chat.name}</span>
                        <time class="text-xs opacity-50">{chat.created_at[8]}{chat.created_at[9]}-{chat.created_at[5]}{chat.created_at[6]}-{chat.created_at[2]}{chat.created_at[3]}&nbsp;&nbsp;{chat.created_at[11]}{chat.created_at[12]}:{chat.created_at[14]}{chat.created_at[15]}</time>
                      </div>
                      <div class="chat-bubble chat-bubble-secondary">{chat.message}
                      </div>
                    </div>
                  </div>
                </div>
              {/each}
              {/if}
             </div>
            </div>
          </div>
          <div
            class="flex flex-row items-center h-16 rounded-xl bg-white w-full px-4">
            <div>
              <input
                  type="varchar"
                  class="border rounded-xl focus:outline-none focus:border-indigo-300 pl-4 h-10"
                  placeholder="Your Name"
                />
            </div>
            <div class="flex-grow ml-4">
              <div class="relative w-full">
                <input
                  type="text"
                  class="flex w-full border rounded-xl focus:outline-none focus:border-indigo-300 pl-4 h-10"
                  placeholder="Message"
                />
              </div>
            </div>
            <div class="ml-4">
              <button
                class="font-bold flex items-center justify-center bg-primary hover:bg-primary-focus rounded-xl text-white px-4 py-1 flex-shrink-0">
                <span>Send
                </span>
                <span class="ml-2">
                  <svg
                    class="w-4 h-4 transform rotate-45 -mt-px"
                    fill="none"
                    stroke="currentColor"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8">
                    </path>
                  </svg>
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{/if}